
.send{
    width: 200px !important;
    margin-top: 50px;
    margin-left: -90px;
}

.inputjobs{
    margin-top: 10px;
}
.inputjobs input{
    border-radius: 8px !important;
}

.btngob{
    margin-left: 130px !important;
}
@media (max-width:1200px) and (min-width:1000px) {
    .allbodyaccount{
        width: 300px;
        margin-right: 180px;
    }
    .allbodyaccount input{
        width: 290px !important;
    }
    .btngob{
        margin-left: -50px !important;
    }
}
