

.bodyconta{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.rightsideco{
    width: 50%;
}


.inputs {
    align-items: flex-start !important;
}
.inputt input{
    width: 250px;
    height: 40px;
    padding: 7px;
    padding-right: 20px;
    border: #D6DCE0 solid 1px;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
}

.leftsideco > img{
    margin-bottom: 15px;
}

.alliconcont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.iconcont{
    display: flex;
    align-items: center;
    gap: 15px;
}
.iconcont p{
  margin-bottom: -3px;
}
.iconsotial{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}
.iconsotial img{
    cursor: pointer;
}
.imgmap{
    margin-top: 20px;
}

.inputt textarea{
    width: 540px;
    padding: 10px;
    border: 1px rgba(131, 131, 131, 0.377) solid;
    border-radius: 5px;
    outline: none;
}
.inputt select{
    width: 540px;
    padding:  0;
    border: 1px rgba(131, 131, 131, 0.377) solid;
    border-radius: 5px;
    outline: none;
}

.inputjobs{
    display: flex;
    width: 300px;

    gap: 40px;
}
.clien{
    background-color: transparent;
    color: #28AAE1;
    border: 1px solid #28AAE1;
    width: 150px !important;
}
.send{
    width: 150px !important;
}

@media (max-width:1130px) {

.bodyconta{
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.inputt textarea{
    width: 300px;
}
.inputt select{
    width: 300px !important;
}
.inputt input{
    width: 300px;
}

.inputs{
    align-items: center !important;
}

.imgmap img{
    width: 340px;
}
.btngob{
    margin-left: 0;
    justify-content: center !important;
}
.leftsideco{
    margin-right: 40px;
}
}
@media (max-width:900px) {
    .inputt textarea{
        width: 300px;
    }
    .inputjobs{
        display: flex;
        width: 300px;

        gap: 10px;
    }
}
@media (max-width:500px) {
    .leftsideco{
        margin-right: 0px;
    }
    .imgmap img{
        width: 300px;
    }
    .inputjobs{
        display: flex;
        width: 300px;

        gap: 10px;
    }
}
