


.body_pro{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}
.allprocardd{

    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.allprocardd hr{
    margin: 0 !important;
}
.right_pro{
    background-color: #fff;
    padding: 40px 20px;
    width: 95%;
    border-radius: 5px;
}

.right_spro{
    width: 48%;
}
.all_dpro{
    display: flex;
    flex-direction: column;
}
.dpro{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(104, 102, 102, 0.575);
    margin-top: 5px;
    margin-bottom: 0px !important;
    color: rgb(59, 59, 59);
}
.dpro p{
    padding: 0 10px;
}
.dproo p{
    margin-bottom: 0 ;
}
.dproo{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}


.imgCardd {
    width: 360px;
    height: 229px;
    border: 1px solid rgba(228, 226, 226, 0.219);
    padding: 28px;
    display: flex;
    align-items: center;
}
    .imgCardd img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
        margin: 0 auto;
    }


.imgss{
    display: flex;
    gap: 14px;
    margin-top: 10px;
    width: 100%;
}
.imgdpro{
    position: relative;
    width: 172px;
    height: 112px;
    overflow: hidden;
    border: 1px solid rgba(228, 226, 226, 0.219);
    cursor: pointer;
    padding:12px;
}
.shado{
    position: absolute;
    top: 0;
    left: 0;
    height:100% !important;
}
.imgdpro img {
    width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.left_pro{
    width: 46%;
}

.toppro{
    background-color: #fff;
    position: relative;
    border-radius: 5px;
}
.offf{
    background-color: #28AAE1;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.monysher{
    display: flex;
    justify-content: space-around;
    padding:30px 50px 10px 50px;
}
.monysher h2{
    font-weight: 600;
}
.monysher p{
    text-decoration: line-through;
    margin-top: 10px;
    color: #28AAE1;
}
.iconser{
    display: flex;
    gap: 10px;
}
.sherhra{
    width: 40px;
    height: 40px;
    background-color: #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s ease;
}
.sherhra:hover{
    background-color: #28AAE1;
}
.btnspro{
    padding: 5px;
}
.btncartposh{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    border: none;
    padding: 0 20px;
    background-color: #28AAE1;
    color: #fff !important;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btncartposh2{
    background-color: #ffb300;
}
.btncartposh p{
    margin-top: 10px;
}
.btncartposh i{
    font-size: 23px;
}

.allcardmenue{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dawnpro{
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 5px;
}
.dawnpro > h4{
    padding-right: 10px;
    margin-bottom: 15px;
}
.cardmenue{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.imgcardmenu{
    width: 90%;
    height: 80px;
    display: flex;
    gap: 10px;
}
    .imgcardmenu p{
        max-width:230px;
    }
    .imgcc {
        width: 116px;
    }
.imgcardmenu img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: center center;
    border: 1px solid #acacac50;
    border-radius:5px;
}
.btncart{
    background-color: #28AAE1;
    color: #fff;
    border: none;
    padding: 0 20px;
    background-color: #28AAE1;
    color: #fff !important;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 20px;
    margin-top: 7px;
    font-weight: 600;
}
.textcardmenu{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.textcardmenu p{
    font-size: 16px;
}
.textcardmenu h4{
    color: #28AAE1;
    font-weight: 600;
    margin-top: 10px;
}



.Partners{
    margin: 40px 0;
}

.ccc{
    display: flex;
    gap: 15px;
    padding: 0 50px;
    align-items: center;
    margin-bottom: 10px;
    color: #707070;
}
.ccc p{
    margin-top: 10px;
}
.texta p{
    color: #28AAE1;
    text-decoration: underline;
    cursor: pointer;
}
.counter{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #e4e4e4;
    width: 20%;
    justify-content: center;
    padding: 5px 15px;
    width: 100px;
    border-radius: 7px;
}
.counter i{
    font-size: 20px;
    cursor: pointer;
}
.counter span{
    font-size: 20px;
}
    

/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #28AAE1;
    background-color: transparent;
    
} */


.redmore{
    color: #28AAE1;
    cursor: pointer;
    font-weight: 600;
}
.bodymore{
    display: none;
    transition: all .4s ease;
    transform: translateY(-100px);
    opacity: 0;
}
.bodymore.active{
    display: block;
    transition: all .4s ease;
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width:1100px) {
    .right_pro{
        width: 100%;
    }
    .body_pro{
        flex-direction: column;
    }
    .left_pro{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .toppro{
        width: 46%;
    }
    .dawnpro{
        width: 50%;
        margin-top: 0;
    }
}

@media (max-width:860px) {
    .allprocardd{
        flex-direction: column-reverse !important;
    }
    .allprocardd{
        width: 100%;

    }
    .right_spro{
        width: 100%;
    }
    .dawnpro{
        width: 100% !important;
        margin-top: 0;
    }
    .left_imgpro{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .allimgcardde{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .imgCardd{
        height: 230px;
    }
    .imgCardd img{
        height: 230px;
    }
    .imgss{
        width: 100%;
    }
    .left_pro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .toppro{
        width: 100%;
        padding: 0 40px;
    }
    .dawnpro{
        width: 100%;
        margin-top: 20px;
        margin-right:0 ;
    }
    .allcardmenue{
        width: 60%;
    }
    .allcardmenue p{
        width: 100%;
    }
    .cardmenue{
        width: 370px;
    }
    .dpro {
        width: 100% !important;
    }
}

@media (max-width:500px) {

    .imgCardd{
        width: 280px;
        height: 200px;
    }
    .imgCardd img{
        width: 100%;
        height: 200px;
    }
    .imgss{
        width: 280px;
        height:110px;
    }
    .imgss img{
        height: 80px;
    }
    .cardmenue{
        width: 327px;
    }
    .toppro{
        width: 100%;
        padding: 0 0px;
    }
    .monysher{
        display: flex;
        justify-content: space-around;
        padding:40px 40px 10px 40px;
    }
    .monysher h2{
        margin-top: 5px;
    }
    .imgcardcart{
        width: 100% !important;
        height: 120px !important;
    }
    .imgcardcart img{
        height: 120px !important; 
    }
    .cardcart  h5{
        font-size: 16px !important;
    }
    .procode a{
        font-size: 13px !important;
    }

}
@media (max-width:425px) {
    .imgcardcart{
        width: 110% !important;
        height: 100px !important;
    }
    .imgcardcart img{
        height: 100px !important; 
    }
    .cardcart  h5{
        font-size: 16px !important;
    }
    .procode a{
        font-size: 13px !important;
    }
}
/* ////////////////////////////////////////////////// */

.cardcart{
    display: flex;
    gap: 20px;
}
.procode{
    display: flex;
    gap: 10px;
    align-items: center;
}
.modal-con1{
    padding: 30px;
}
.modal-con1 h4{
    margin-bottom: 20px;
}
.fade2 {
    --bs-modal-zindex: 1655;
    --bs-modal-width: 825px;
}
.modal-con2{
    position: relative;
    width: 100% !important;
    height:50vh;
}
.imgcardcart{
    width: 50%;
    height: 100px;
    border: 1px solid #aaaaaa52;
}
.imgcardcart img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}
.cardcart h3{
    font-weight:500 ;
    color: #252525a4;
}

