
@media (max-width: 600px){
    .textimgh p{
        font-size: 14px;
    }
    
}

.body_about{
    background-color: #fff;
    margin: 40px auto;
    padding: 50px;
    border-radius: 8px;
    border: 1px solid rgba(112, 112, 112, 0.171);
}

.textabout{
    margin-bottom: 20px;
}