@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
    direction: ltr;
    background-color: #F5F7F8;
}
a{
    text-decoration: none;
    color: rgba(63, 63, 63, 0.788);
}

 /* @media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 98%;
    }
} */
@media (max-width: 770px){
    .container, .container-md, .container-sm {
        max-width: 98%;
    }
}

@media (max-width: 1300px){
    .container, .container-md, .container-sm {
        max-width: 98%;
    }
} 



.nav1{
    color: #28AAE1;
    background-color: #fff;
}


.rigth_nav1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left_nav1 a{
    color: #28AAE1 !important;
}
.left_nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
}

.iconnav{
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.h{
    gap: 16px;
}
.iconnav p{
    margin-top: 15px;
    font-size: 14px;
}
.iconnav a i{
    cursor: pointer;
    font-size: 20px;
    color: #28AAE1;
}

.nav1 {
    display: none;
}

@media (min-width:1105px) {
    .nav1{
        display: flex;
    }
   
}

/* @media (max-width:550px) {
    .rigth_nav1{
        gap: 5px;
    }
    .rigth_nav1 p{
        font-size: 10px;
    }
    .iconnav{
        gap: 4px;
        font-size: 18px;
        gap: 15px;
    }
    } */

    .iconhednum{
        position: relative;
    }
    /* .iconhednum img{
        width: 16px;
    } */
.numhed {
    position: absolute;
    background-color: #1A6BA6;
    border: 2px solid #fff;
    color: #fff;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: 0px;
    right: -12px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////////Nav2/////////////////////////////////// */
.nav2{
    background-color: #fff;
    padding-bottom: 7px;
    display: none;
}
@media (min-width:1105px) {
    .nav2{
        display: block;
    }
}
.left_nav2{
    display: flex;
    align-items: center;
    border: 1px #D6DCE0 solid;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.right_nav2{
    width: 220px;
}
.right_nav2 img{
    width: 100%;
}

.allcategore{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #F5F7F8;
    height: 100%;
    width: 25%;
   padding-left: 13px;
}
.allcategore  > a{
    font-size: 15px;
}

.left_nav2 input{
    height: 100%;
    width: 80%;
    border: none;
    border-left: 1px solid #D6DCE0;
    padding-left: 10px;
    outline: none;
}
.searchicon{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28AAE1;
    height: 100%;
    cursor: pointer;
}
.searchicon i{
    font-size: 20px;
    color: #fff;
}




/* ///////////////////////////////////// Nav3 ///////////////////// */
.nav3{
    background-color: #28AAE1;
    height: 40px;
    box-shadow: rgba(206, 207, 207, 0.103) 0px 8px 16px;
    display: none;
    z-index: 99;
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
}
.nav3.scroll-nav{
    transition: all .4s ease;
    box-shadow: rgba(78, 78, 78, 0.082) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform-origin: top center;
    top:0 !important;
    left: 0;
    right: 0;
}
@media (min-width:1105px) {
    .nav3{
        display: block;
    }
}
.navc3{
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.navcenter3{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.navcenter3 ul{
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.navbar{
    width: 100%;
}
.loginshop {
    background-color: #FFB300;
    height: 100%;
    /* padding: 8px; */
    width: 15%;
    height: 40px;
    padding-top: 5px;
}
.loginshop a{
    color: #fff;
    font-weight: 600;
    padding-top: 5px;
  
}

.navcenter3 li a{
    color: #fff;
    font-weight: 600;

}
.navcenter3 li {
    height: 100%;
    height: 40px;
    transition: all .2s ease;
}
.navcenter3 li.active {
    background-color: #1A6BA6;
}
.navcenter3 li:hover {
    height: 100%;
    background-color: #1A6BA6;
    height: 40px ;
}
.navc3 a{
    padding-top:10px ;
    padding: 10px;
}

.navcenter3 li{
    padding-top: 5px;
}

.dropdown{
    display: flex;
    align-items: center;
    transition: all 1s ease;
}
.dropdown a{
    margin-bottom: 10px;
}
.dropdown{
    position: relative;
}
.menudrop{
    width: 900%;
    position: absolute;
    top: 40px;
    right: -390%;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    display: none;
    transition: all .4s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown:hover .menudrop{
    display: block;   
}

.prodrop{
    display: flex;
    flex-wrap: wrap;

}



.prodrop a{
    color: #000 !important;
    font-weight:500 !important ;
}

.imgproo img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
}
/* //////////////////////////////dropdown//////////////////// */

.dropp{
    width: max-content;
}

.dropp .dropdown-item{
    text-align: right !important;
}
.dropp li{
    border-bottom: 1px solid rgba(196, 195, 195, 0.336) ;
}

ul.dropdown-menu.dropp.show{
    left: -40px !important;
    top: 10px !important;
}
/* //////////////////////////////dropdown//////////////////// */

/* /////////////////////////////// nav modile ////////////////////// */
.nav3_mobile{
    box-shadow: rgba(211, 211, 211, 0.103) 0px 8px 16px;
    background-color: #fff;
    position: sticky;
    z-index: 99;
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
}
/* .nav3_mobile.scroll-nav{
    transition: all .4s ease;
    box-shadow: rgba(78, 78, 78, 0.082) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform-origin: top center;
    top:0 !important;
    left: 0;
    right: 0;
} */

.navc3_mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    display: none;

}

@media (max-width:1105px) {
    .navc3_mobile{
        display: flex;
    }
}
.rightsidenav{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.logomenum {
    width: 30%;
}
.logomenum img {
    width: 120px;
}
.icon_menu i{
    font-size: 30px;
    cursor: pointer;
}
.nav3_mobile .iconnav i{
    font-size: 23px;
    color: #28AAE1;
}
/* //////////////////////////////////////////////////// */

.navmobile{
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: all .6s ease;
    z-index: 4;
}
.navmobile.active{
    transform: translateX(0px);
    opacity: 1;
 
}
@media (max-width:1104px) {
    .navmobile{
        display: block;
    }
}

.navright li{
    list-style: none;
    padding: 10px;

}
.navright li:hover{
    background-color: #ececec65;
}
.navright li.active{
    background-color: #ececec65;
}
.navright a{
    color: #000;
}
.loginn a{
    color: #28AAE1;
}

/* ///////////////////lisersh//////////////////////// */
.lisersh{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    direction: ltr;
    margin-bottom: 10px;
  }


  .serchs{
    width: 50%;
    background-color: #28AAE1;
    border-radius: 80px;
  }

  @media (max-width:600px) {
    .serchs{
        width: 100%;
        background-color: #28AAE1;
        border-radius: 80px;
      }
  }
  .serchs input{
    width: 100%;
    padding: 9px;
    border-radius: 80px 0 0 80px  ;
    border: 1px solid #28AAE1;
    direction: rtl;
    outline: none;
  
  }
  .serchs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
  }
  .serchs i{
    font-size: 23px;
    padding-left: 15px;
    color: #fff;

  }
/* //////////////////// Title Page ////////////////// */

.titlepages{
    height: 40px;
    box-shadow: rgba(149, 157, 165, 0.11) 0px 3px 5px;
}

.tit{
    display: flex;
    align-items: center;
    color: #707070;
}
.tit .bx-chevron-left{
    font-size: 27px;
    margin-top: -6px;
    transform: rotateY(180deg) !important;
}
.tit a i{
    font-size: 23px;
    margin-top: -6px ;
}
.tit p {
    font-size: 15px !important;
    margin-top: 8px;
}





/* /////////////////////// header //////////////// */
.header{
    margin: auto !important;
}

.mySwiper{
    height: auto;
}
.mySwipersmall{
    margin-top: 10px;
}
@media (max-width:600px) {
    .mySwipersmall{
        display: none;
    }
}
.imgd{
    width: 100%;
}
.imgd img{
    width: 100%;
}
.imgds{
    width: 30%;
}
.imgds img{
    width: 100%;
}

/* ///////////////////////////titlesaerch/////////////////////////////// */

.titlesaerch{
    margin-top: 40px;
    text-align: center;
}
.titlesaerch h1{
    font-weight: 600;
    font-size: 33px;
}

/* ////////////////////////////// slider //////////////////////// */
.slidd{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden;
}
.allslid{
    background-color: #28AAE1;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.allslid p{
    margin-top: 10px;
}
.mySwiper2 .next{
    display: none;
}


.lap{
    display: flex;
    background-color: #FFF;
    gap: 10px;
    align-items: center;
    height: 60px;
    width: auto;
    border: 1px solid #D6DCE0;
    border-radius: 5px;
    padding-right: 10px;
}

.lap p{
    margin-top: 10px;
}
.imglap{
    width: 70px;
}
.imglap img{
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: center center;
}
.mySwiper2{
    padding: 0 9px;
}
.mySwiper2 .next{
    display: flex;
    width: 25px;
    height: 25px;
    font-size: 30px;
    border: 1px solid #dddddd27;
    background-color: #28AAE1;
    color: #fff;
    left: 0px;
    top: 30%;
}

.mySwiper2 .prev{
    display: flex;
    width: 25px;
    height: 25px;
    font-size: 30px;
    border: 1px solid #dddddd27;
    background-color: #28AAE1;
    color: #fff;
    right: 0px;
    top: 30%;
}


/* ///////////////////////////cardlap ////////////////////////////// */
.mySwiper3{
    padding-top: 10px;
}
.cardlap {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #D6DCE0;
    margin-bottom: 40px;
    min-height: 435px;
}

.imgcardlap{
    width: 100%;
    background-color: #FFF;
    height: 180px;
    position: relative;
}
.imgcardlap img{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: all .4s ease;
}
.cardlap{
    transition: all .4s ease;
}
.cardlap:hover .imgcardlap img{
    transform: scale(1.1);
}
.cardlap:hover{
    transform: translateY(-4px);
}

@media (max-width:500px) {
    .cardlap{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width:450px) {
    .cardlap{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

.popkcard{
    background-color: #28AAE1;
    color: #FFF;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 7;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
}
.popkcard p{
    margin-top: 5px;
}
.textcardlap{
    direction: ltr;
    margin-top: 10px;
    min-height: 240px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textcardlap h5{
    color: #000;
}
.textcardlap p{
    color: rgba(0, 0, 0, 0.685);
    line-height: 110%;
}
.monycardlap{
    display: flex;
    gap: 7px;
    align-items: center;
}
.monycardlap h4{
    font-weight: 600;
}
.monycardlap p{
    color: #28AAE1;
    text-decoration: line-through;
    margin-top: 7px;
}
.ditalsviewbtn{
    width: 100%;
    background-color: #28AAE1;
    padding: 8px;
    border: none;
    color: #FFF;
    border-radius: 5px;
    text-align:center;
}

.iconcardlaps{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 5;
    left: -8px;
    top: -10px;
}
@media (max-width:600px) {
    .iconcardlaps{
        left: -8px;
        top: 15px;
    }
}
.iconcardlap img{
    width: 28px;
    height: 19px;
    position: relative;
    
}
.iconcardlap{
    background-color: #00000046;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.iconcardlap:hover{
    background-color: #1A6BA6;
}

/* //////////////////////////pscord//////////////////// */

.pscord{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.imgps{
    width: 49%;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: all .4s ease;
}
.imgps:hover img{
    transform: scale(1.1);
}
.imgps  img{
    transition: all .5s ease;
}
.imgps .textcardps img{
    transition: all .4s ease;
    transform:  rotateY(180deg);
}
.imgps:hover .textcardps img{
    transform: translateX(8px) rotateX(180deg) rotateY(180deg);
}
.imgps img{
    width: 100%;
}
.textcardps{
    display: flex;
    align-items: center;
    gap: 5px;
}
.textcardps img{
    width: 25px;
}

.textcardpsss{
    position: absolute;
    top: 25%;
    left: 10%;
}
.textcardpsss a{
    color: #fff;
}
.textcardpsss p{
    width: 60%;
}
@media (max-width:1000px) {
    .textcardpsss p{
        width: 90%;
    }
}
@media (max-width:840px) {
    .pscord{
        flex-direction: column;
        align-items: center;
    }
    .textcardpsss p{
        width: 90%;
    }
    .imgps{
        width: 80%;

    }
}
@media (max-width:650px) {
    .imgps{
        width: 98%;

    }
    .textcardpsss p{
        width: 95%;
        font-size: 14px;
    }
}
/* ///////////////////////Partners////////////////// */

.Partners{
    text-align: center;
}

.imgpartners{
    width: 150px;
    margin-bottom: 40px;
}

.imgpartners img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(1);
    transition: all .3s ease;
}
.imgpartners img:hover{
    filter: grayscale(0);
}
@media (max-width:550px) {
    .imgpartners{
        width: 90px;
        margin-bottom: 40px;
    }
}
/* /////////////////////////////footer/////////////////// */

.footer{
    background-color: #1A6BA6;
    text-align: center;
    margin: 0;
    padding: 20px 20px 10px 20px;
}
.allfoo{
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 15px;
    align-items: center;
}
.imgfoo{
    width: 251px;
}
.imgfoo img{
    width: 100%;
}

@media (max-width:600px) {
    .imgfoo{
        width: 200px;
    }
}
.footer .sotialicon{
    line-height: 10%;
}

.lincol{
    height: 100px;
    width: 2px;
    background-color: #ffffff9d;
}

.footer p{
    color: #fff;
    margin-top: 20px;
}


.next{
    position: absolute;
    left: 10px;
    top: 43%;
    z-index: 66;
    font-size: 40px;
    color: #28AAE1;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.prev{
    position: absolute;
    right: 10px;
    top: 43%;
    z-index: 66;
    font-size: 40px;
    color: #28AAE1;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width:550px) {
    .next{
        width: 25px;
        height: 25px;
        font-size: 30px;
        border: 1px solid #dddddd27;
    }
    .prev{
        width: 25px;
        height: 25px;
        font-size: 30px;
        border: 1px solid #dddddd27;
    }
}

/*=============== SCROLL UP ===============*/

.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -20%;
    display: inline-flex;
    color: #01458E;
    font-size: 50px;
    z-index: 99;
    transition: .3s;
  }

  .scrollup:hover{
    transform: translateY(-.25rem);
    color: #002449;
  }  
  
  /* Show Scroll Up*/
  .show-scroll{
    bottom: 5.5rem;
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ///////////////////////////////////////////////////////////// */


.fade4 {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 55%;
}

@media (max-width:1200px) {
    .fade4 {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 75%;
    }
}
@media (min-width:1200px) {
    .fade4 {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 55%;
    }
}
@media (min-width:1600px) {
    .fade4 {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 45% !important;
    }
}
@media (max-width: 1100px){
.toppro {
    width: 100% ;
}
}
@media (max-width: 860px){
.left_imgpro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.right_spro {
    margin-top: 20px ;
}
}

.btnindexmod{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btnindexmod .btncartposh{
    width: 100%;
}
.btnindexmod .btncartposh2{
    width: 100%;
}

.smallico{
    width: 40px ;
    height: 40px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;

}

.btndeta{
    height: 40px;
}

.smallicoss{
    display: flex;
    gap: 10px;
}

.monydd {
    display: flex ;
    justify-content: flex-start ;
    padding: 0px 37px 10px 50px ;
    gap: 20px !important;
}
.left_imgpro{
    transform: scale(1.1);
    margin-top: 110px;
    margin-left: 20px;
}
.all_dpro{
    transform: scale(.9);
}
.dproo{
    transform: scale(.9);
    gap: 20px;
    margin-top: -19px ;
}

@media (max-width:600px) {
    .heep{
        display: none;
    }
}



.cardrow{
    display: flex;
    position: relative;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


}
.cardrow:hover .imgcardlap img{
    transform: scale(1);
}

.cardrow .popkcard{
    left: 0 !important;
    top: 0 !important;
}
.cardrow .textcardlap {
    margin-top: 25px !important;
    width: 60%;
}
.cardrow .imgcardlap{
    margin-top: 10% !important;
    width: 40%;
}

.cardrow .imgcardlap img{
    margin-top: 25px !important;
    max-height: 310px !important;
}
.cardrow .iconcardlaps{
    flex-direction: row ;
}

.cardrow  .iconcardlaps{
    position: relative;
}
.cardrow .ditalsviewbtn{
    width: 50%;

    bottom: 20%;
}

@media (max-width:  1000px) {
    .cardrow .iconcardlap{
        width: 25px;
        height: 25px;
        font-size: 17px;
    }
    .cardrow .textcardlap p{
        font-size: 15px;
    }
    .cardrow .textcardlap h5{
        font-size: 18px;
    }
}


.allcardstore{
    display: flex;
}
.allcardstoregrid{
    display: none;
}
.allcardstore.active{
    display: none;
}
.allcardstoregrid.active{
    display: block;
}

@media (max-width:900px) {
    .leftfiltrs{
        display: none;
    }
}

.swiper-pagination-bullet-active{
    background-color: #28AAE1;
  }